<!-- footer.component.html -->
<footer class="footer" role="contentinfo">
    <div class="container">
        <div class="footer-content">
            <p class="footer-message" aria-label="Thank you message">Thank you for visiting! Stay connected!</p>
            <p>
                <a href="mailto:your-email@example.com" title="Send me an email" aria-label="Send me an email">
                    <i class="fas fa-envelope" aria-hidden="true"></i>
                    my-email@example.com
                </a>
            </p>
            <div class="social-links" aria-label="Social links">
                <a href="your-linkedin-profile" target="_blank" title="Connect with me on LinkedIn"
                    aria-label="Connect with me on LinkedIn">
                    <i class="fab fa-linkedin" aria-hidden="true"></i> LinkedIn
                </a>
                <!-- Add more social media links -->
            </div>
            <nav class="footer-nav" aria-label="Footer navigation">
                <!-- <a href="/" title="Go to homepage" aria-label="Go to homepage"><i class="fas fa-home"></i> Home</a>
                <a href="/portfolio" title="View my portfolio" aria-label="View my portfolio"><i class="fas fa-briefcase"></i> Portfolio</a> -->
            </nav>
        </div>
    </div>
</footer>