{% extends 'myapp/base.html' %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Project Details</title>
</head>
<body>
{% block body %}
<div class="container mt-4">
    <h2 class="card-title">{{ project.title }}</h2>

    <div class="card mb-3">
        <img src="{{ project.image.url }}" alt="{{ project.title }}" class="card-img-top" style="width: 40%;>
        <div class="card-body">
            <h5 class="mb-3">Project Details</h5>
            <p class="card-text">{{ project.description }}</p>
        </div>
        <div class="card-footer">
            <a href="{% url 'myapp:project_update' project.id %}" class="btn btn-success me-2">Edit</a>
            <a href="{% url 'myapp:project_delete' project.id %}" class="btn btn-danger">Delete</a>
        </div>
    </div>
    <a href="{% url 'myapp:project_create' %}" class="btn btn-primary">Add New Project</a>
</div>
{% endblock %}
</body>
</html>
