/* Global styles css */

body {
    background-color: #f0f4fc;
    color: #1a1a1a;
    font-family: 'Arial', sans-serif;
}

h1,
/* h2, */
h3,
h4,
h5,
h6 {
    color: #333;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    font-size: 2em;
}

.button {
    background-color: #e0e5ec;
    color: #1a1a1a;
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    box-shadow: 4px 4px 15px #a3b1c6, -4px -4px 15px #ffffff;
    transition: box-shadow 0.3s ease-in-out;
}

.button:hover {
    box-shadow: inset 2px 2px 8px #a3b1c6, inset -2px -2px 8px #ffffff;
}

input[type="text"],
input[type="email"],
textarea,
select {
    background-color: #e0e5ec;
    border: none;
    padding: 10px;
    border-radius: 8px;
    box-shadow: inset 4px 4px 8px #a3b1c6, inset -4px -4px 8px #ffffff;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus,
select:focus {
    outline: none;
    /* box-shadow: inset 2px 2px 4px #a3b1c6, inset -2px -2px 4px #ffffff; */
}

a {
    color: #2196F3;
    text-decoration: none;
}

a:hover,
a:focus {
    text-decoration: underline;
}

.card {
    background-color: #e0e5ec;
    border-radius: 10px;
    box-shadow: 8px 8px 15px #a3b1c6, -8px -8px 15px #ffffff;
    padding: 20px;
    margin-bottom: 20px;
}

/* Styles specific for devices with a screen width of 768px or less */
@media (max-width: 768px) {
    .navbar {
        padding: 5px;
        border-radius: 5px;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 5px 0;
    }

    nav a {
        font-size: 16px;
        padding: 8px 10px;
    }

    .content {
        padding: 10px;
    }

    .button {
        padding: 15px;
        font-size: 16px;
    }

    .card {
        margin: 10px 5px;
        padding: 15px;
    }

    .large-image {
        width: 100%;
        /* Make images responsive */
        height: auto;
    }

    input[type="text"],
    input[type="email"],
    textarea,
    select {
        padding: 12px;
    }
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}