.hero {
    position: relative;
    text-align: center;
    color: white;
}

.hero .carousel-item {
    height: 80vh;
    background: #000;
}

.hero img {
    height: 100%;
    object-fit: cover;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.5);
    /* Optional */
    padding: 20px;
}