.hero {
    position: relative;
    text-align: center;
    color: white;
    margin-top: 80px;
    margin-bottom: 40px;
}

.hero .carousel-item {
    height: 90vh;
    background: #000;
}

.hero img {
    height: 100%;
    object-fit: cover;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.5);
    /* Optional */
    padding: 20px;
}